[submodule "aur-pkgs/ayn-platform-dkms-git"]
	path = aur-pkgs/ayn-platform-dkms-git
	url = https://aur.archlinux.org/ayn-platform-dkms-git.git
[submodule "aur-pkgs/bcm20702a1-firmware"]
	path = aur-pkgs/bcm20702a1-firmware
	url = https://aur.archlinux.org/bcm20702a1-firmware.git
[submodule "aur-pkgs/boxtron"]
	path = aur-pkgs/boxtron
	url = https://aur.archlinux.org/boxtron.git
[submodule "aur-pkgs/downgrade"]
	path = aur-pkgs/downgrade
	url = https://aur.archlinux.org/downgrade.git
[submodule "aur-pkgs/gamescope-session-steam-plus-git"]
	path = aur-pkgs/gamescope-session-steam-plus-git
	url = https://aur.archlinux.org/gamescope-session-steam-plus-git.git
[submodule "aur-pkgs/hhfc-git"]
	path = aur-pkgs/hhfc-git
	url = https://aur.archlinux.org/hhfc-git.git
[submodule "aur-pkgs/legendary"]
	path = aur-pkgs/legendary
	url = https://aur.archlinux.org/legendary.git
[submodule "aur-pkgs/nintendo-udev"]
	path = aur-pkgs/nintendo-udev
	url = https://aur.archlinux.org/nintendo-udev.git
[submodule "aur-pkgs/pikaur"]
	path = aur-pkgs/pikaur
	url = https://aur.archlinux.org/pikaur.git
[submodule "aur-pkgs/python-vdf"]
	path = aur-pkgs/python-vdf
	url = https://aur.archlinux.org/python-vdf.git
[submodule "aur-pkgs/r8152-dkms"]
	path = aur-pkgs/r8152-dkms
	url = https://aur.archlinux.org/r8152-dkms.git
[submodule "aur-pkgs/rtl8812au-dkms-git"]
	path = aur-pkgs/rtl8812au-dkms-git
	url = https://aur.archlinux.org/rtl8812au-dkms-git.git
[submodule "aur-pkgs/rtl8814au-dkms-git"]
	path = aur-pkgs/rtl8814au-dkms-git
	url = https://aur.archlinux.org/rtl8814au-dkms-git.git
[submodule "aur-pkgs/rtl8821au-dkms-git"]
	path = aur-pkgs/rtl8821au-dkms-git
	url = https://aur.archlinux.org/rtl8821au-dkms-git.git
[submodule "aur-pkgs/ryzenadj-git"]
	path = aur-pkgs/ryzenadj-git
	url = https://aur.archlinux.org/ryzenadj-git.git
[submodule "aur-pkgs/steam_notif_daemon"]
	path = aur-pkgs/steam_notif_daemon
	url = https://aur.archlinux.org/steam_notif_daemon.git
[submodule "aur-pkgs/zenergy-dkms-git"]
	path = aur-pkgs/zenergy-dkms-git
	url = https://aur.archlinux.org/zenergy-dkms-git.git
[submodule "aur-pkgs/frzr-sk"]
	path = aur-pkgs/frzr-sk
	url = https://aur.archlinux.org/frzr-sk.git
[submodule "aur-pkgs/gnome-shell-extension-dash-to-dock"]
	path = aur-pkgs/gnome-shell-extension-dash-to-dock
	url = https://aur.archlinux.org/gnome-shell-extension-dash-to-dock.git
[submodule "aur-pkgs/onedrive-abraunegg"]
	path = aur-pkgs/onedrive-abraunegg
	url = https://aur.archlinux.org/onedrive-abraunegg.git
[submodule "aur-pkgs/python-pyclip"]
	path = aur-pkgs/python-pyclip
	url = https://aur.archlinux.org/python-pyclip.git
[submodule "aur-pkgs/sk-chos-tool"]
	path = aur-pkgs/sk-chos-tool
	url = https://aur.archlinux.org/sk-chos-tool.git
[submodule "aur-pkgs/sk-boot-to-windows"]
	path = aur-pkgs/sk-boot-to-windows
	url = https://aur.archlinux.org/sk-boot-to-windows.git
[submodule "aur-pkgs/waydroid-script-git"]
	path = aur-pkgs/waydroid-script-git
	url = https://aur.archlinux.org/waydroid-script-git.git
[submodule "aur-pkgs/ayaneo-platform-dkms-git"]
	path = aur-pkgs/ayaneo-platform-dkms-git
	url = https://aur.archlinux.org/ayaneo-platform-dkms-git.git
[submodule "aur-pkgs/hhd"]
	path = aur-pkgs/hhd
	url = https://aur.archlinux.org/hhd.git
[submodule "aur-pkgs/gpdconfig-git"]
	path = aur-pkgs/gpdconfig-git
	url = https://aur.archlinux.org/gpdconfig-git.git
[submodule "aur-pkgs/kanit-font"]
	path = aur-pkgs/kanit-font
	url = https://aur.archlinux.org/kanit-font.git
[submodule "aur-pkgs/gnome-shell-extension-screen-autorotate"]
	path = aur-pkgs/gnome-shell-extension-screen-autorotate
	url = https://aur.archlinux.org/gnome-shell-extension-screen-autorotate.git
[submodule "aur-pkgs/gamescope-session-sk-git"]
	path = aur-pkgs/gamescope-session-sk-git
	url = https://aur.archlinux.org/gamescope-session-sk-git.git
[submodule "aur-pkgs/gamescope-sk"]
	path = aur-pkgs/gamescope-sk
	url = https://aur.archlinux.org/gamescope-sk.git
[submodule "aur-pkgs/evdev-keepalive"]
	path = aur-pkgs/evdev-keepalive
	url = https://aur.archlinux.org/evdev-keepalive.git
[submodule "aur-pkgs/ibus-pinyin"]
	path = aur-pkgs/ibus-pinyin
	url = https://aur.archlinux.org/ibus-pinyin.git
[submodule "aur-pkgs/moonlight-qt"]
	path = aur-pkgs/moonlight-qt
	url = https://aur.archlinux.org/moonlight-qt.git
[submodule "aur-pkgs/gnome-shell-extension-blur-my-shell"]
	path = aur-pkgs/gnome-shell-extension-blur-my-shell
	url = https://aur.archlinux.org/gnome-shell-extension-blur-my-shell.git
[submodule "aur-pkgs/lib32-extest"]
	path = aur-pkgs/lib32-extest
	url = https://aur.archlinux.org/lib32-extest.git
[submodule "aur-pkgs/inputplumber-bin"]
	path = aur-pkgs/inputplumber-bin
	url = https://aur.archlinux.org/inputplumber-bin.git
[submodule "aur-pkgs/gnome-shell-extension-enhanced-osk-git"]
	path = aur-pkgs/gnome-shell-extension-enhanced-osk-git
	url = https://aur.archlinux.org/gnome-shell-extension-enhanced-osk-git.git
[submodule "aur-pkgs/linux-firmware-valve"]
	path = aur-pkgs/linux-firmware-valve
	url = https://aur.archlinux.org/linux-firmware-valve.git
[submodule "aur-pkgs/gpd-fan-driver-dkms-git"]
	path = aur-pkgs/gpd-fan-driver-dkms-git
	url = https://aur.archlinux.org/gpd-fan-driver-dkms-git.git
[submodule "aur-pkgs/mission-center"]
	path = aur-pkgs/mission-center
	url = https://aur.archlinux.org/mission-center.git
[submodule "aur-pkgs/gnome-shell-extension-bluetooth-battery-meter-git"]
	path = aur-pkgs/gnome-shell-extension-bluetooth-battery-meter-git
	url = https://aur.archlinux.org/gnome-shell-extension-bluetooth-battery-meter-git.git
[submodule "aur-pkgs/chimeraos-device-quirks-sk-git"]
	path = aur-pkgs/chimeraos-device-quirks-sk-git
	url = https://aur.archlinux.org/chimeraos-device-quirks-sk-git.git
[submodule "aur-pkgs/yay-git"]
	path = aur-pkgs/yay-git
	url = https://aur.archlinux.org/yay-git.git
[submodule "aur-pkgs/hhd-ui"]
	path = aur-pkgs/hhd-ui
	url = https://aur.archlinux.org/hhd-ui.git
[submodule "aur-pkgs/gnome-shell-extension-hibernate-status-git"]
	path = aur-pkgs/gnome-shell-extension-hibernate-status-git
	url = https://aur.archlinux.org/gnome-shell-extension-hibernate-status-git.git
[submodule "aur-pkgs/tsukimi-bin"]
	path = aur-pkgs/tsukimi-bin
	url = https://aur.archlinux.org/tsukimi-bin.git
[submodule "aur-pkgs/paru"]
	path = aur-pkgs/paru
	url = https://aur.archlinux.org/paru.git
[submodule "aur-pkgs/paruz"]
	path = aur-pkgs/paruz
	url = https://aur.archlinux.org/paruz.git
[submodule "aur-pkgs/parui"]
	path = aur-pkgs/parui
	url = https://aur.archlinux.org/parui.git
[submodule "aur-pkgs/v4l-utils-git"]
	path = aur-pkgs/v4l-utils-git
	url = https://aur.archlinux.org/v4l-utils-git.git
[submodule "aur-pkgs/mutter-x11-scaling"]
	path = aur-pkgs/mutter-x11-scaling
	url = https://aur.archlinux.org/mutter-x11-scaling.git
[submodule "aur-pkgs/steam-powerbuttond-git"]
	path = aur-pkgs/steam-powerbuttond-git
	url = https://aur.archlinux.org/steam-powerbuttond-git.git
[submodule "aur-pkgs/hid-msi-claw-dkms-git"]
	path = aur-pkgs/hid-msi-claw-dkms-git
	url = https://aur.archlinux.org/hid-msi-claw-dkms-git.git
